.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/
application/third_party/mpdf/ttfontdata/dejavuserifcondensedBI.cw.dat
application/third_party/mpdf/ttfontdata/dejavuserifcondensedBI.mtx.php